<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
    <title>Home</title>
    
    <style>
      .H11{
        font-size: 20px;
        text-align: center;
        color: rgb(140, 23, 105);
      }
 body {
  
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
  background-image: url("https://img.freepik.com/premium-photo/yellow-chair-standing-out-from-crowd-business-concept-d-rendering_601748-28618.jpg?size=626&ext=jpg"); 

}
        
        .H1{
            text-align:center; 
            margin-top: 20px;
            margin-left: 50px;
            font-size: 270%;
          }
          .D1{
          
            margin-left: 30%;
            margin-right: 29%;
            border-left: 50px;
            border: 5px solid;
            border-color: aqua;
          }
          .H2{
            text-align: center;
            color: red;
            font-size: 20px;
          }
          .H3{
            text-align: center;
            color: red;
            font-size: 20px;
          }
          
    </style>
</head>
<body >
    <br>
    <nav class="N1">
      <h1 class="H1" ><i class="fa-regular fa-house"></i>
        Welcome to a🕹️Placment Cell   </h1></nav>
    <div class="D1">
        <br>
        <h1 class="H11">This Placement Cell serves as the foremost platform for interaction between various stakeholders that govern the career. </h1>
        
        <br>  <br>

        <h1 class="H2">&nbsp;<a href="http://localhost:8000/Signin">Sign_in <i class="fa-light fa-person-sign"></i></a></h1>
        <h1 class="H3"> &nbsp;&nbsp;&nbsp; <a href="http://localhost:8000/Signup">Sign_up</a></h1>
        <br>
        <br>
        <br>
        <br>  <br>
        <br>
    </div>
</body>
</html>