<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interview</title>
    <style>
             body{
            background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
  background-image: url("https://thumbs.dreamstime.com/b/job-interview-male-young-candidate-having-female-examiner-his-side-hands-top-view-unrecognizable-people-55062134.jpg");
            
        }
        .D1{
        text-align: center;
       
 }
 .H5{
    margin-top: 5%;
    color: aqua;
    font-size: 40px;
 }
        </style>
</head>
<body>
    <div class="D1">
        <h5 class="H5">Set Interview </h5>
        <form action="/createInter" method="post">
            <input type="text" placeholder="Enter Company name" name="company" required>
            <br><br>
            <input type="date" placeholder="Enter Data" name="Date" required>    <br><br>
            <input type="submit">



        </form>
    </div>
</body>
</html>