<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign_up Here</title>
    <style>
           body {
  
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
  background-image: url("https://as2.ftcdn.net/v2/jpg/05/68/06/61/1000_F_568066187_ooXm7SUkFTe46zpqXOCgRJi7L4q78sm8.jpg"); 

}
  
        .H1{
            text-align: center;
            margin-top: 4%;
            font-size: 60px;
            color: rgb(4, 31, 78);

        }
        .F1{
            text-align: center;
        }

    </style>
</head>
<body>
    <h1 class="H1">Sign_up Here</h1>
    <form class="F1" action="/createSignup" method="post">
        <input type="text" placeholder="Enter email" name="email" required>
      <br><br><br>
        <input type="password" placeholder="Enter Password" name="Password" required><br><br><br>
        <input type="submit">
    </form>
    
</body>
</html>